* {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 2;
    
}
html {
    background-color: #444;
}
.spheres {
    display: flex;
    
    justify-content: center;
}
.spells {
    display: flex;
    width: 98vw;
    
    justify-content: center;
    height: 20vh;
}
.spells div, .spells img, .spheres div, .spheres img {
    margin: 10px;
    width: 75px;
    
}
.spheres img {
    border-radius: 50px;
    
}
.invoke-icon {
    src: url(../img/Invoke_icon.webp);
    
}
img {
    border: #000 3px solid;
}
.random-spell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff45;
    height: 232px;
    flex-direction: column;
}
.random-spell__icon {
    width: 128px;
    height: 128px;
}
.random-spell__counter {
    font-size: 40px
}
.menu-background {
    display: flex;
    position: absolute;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    
}
.menu-background__button_start {
    color: #dd0000ff;
    text-shadow: #000 3px 3px 3px;
    font-size: 64px;
   
    padding: 16px;
    border-radius: 32px;
    cursor: pointer;
}
.menu-background__logo {
    color: rgb(12, 137, 209);
    text-shadow: #000 3px 3px 3px;
    font-size: 64px;
    letter-spacing:8px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: animation-logo; 
}
@keyframes animation-logo {

     33% {
        color: rgb(12, 137, 209);
    } 66% {
        color: #c728b3ff;
    } 99% {
        color: #db920bff;
    } 



}
.none {
    display: none;
}