* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.flex {
    display: flex;

}

.none {
    display: none;
}
.inline {
    display: inline;
}


@media (max-width: 4000px) {
    .game-menu {
        z-index: 1;
        background-image: url(images/backgrounds/background-game.webp);
        background-position: center;
        background-size: cover;
        
        position: absolute;
        height: 100vh;  
        width: 100vw;
        align-items: center;
        justify-content: space-around;
    }
    .game-menu div {
        /* background-color: #a00; */
        height: 100vh;
        padding-left: 64px;
        padding-right: 64px;
        opacity: 100%;
    }
    .main-menu {
       
        justify-content: center;
        align-items:center;
        width: 100vw;
        height: 100vh; 
        z-index: 3;
        background-color: #222; 
        position: absolute;
    
    }
    .main-menu__button {
        color: #555;
        font-size: 64px;
        text-shadow: 2px 2px 2px #000;
        cursor: pointer;
    }
    .buttons {
        z-index: 1;
        position: absolute;
        justify-content: space-between;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        
        
    }
    .buttons img {
        width: 96px;
        z-index: 4;
        margin: 32px;
        opacity: 60%;
    }
    
   
}

@media (max-width: 800px) and (min-width: 550px) {

    
    .enemy {
        
        margin-bottom: 100vh;
    }
    .enemy-animation {
        animation-name: enemy_falling;
        animation-duration: 1350ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
    }
   

    @keyframes enemy_falling {
        0% { 
            margin-bottom: 100vh;
            
        }
        100% { margin-bottom: 15vh; }
    }
    .player {
        position: absolute;
        filter: drop-shadow(0 0 10px rgba(0,0,0,1));
    }
    .game-menu img {
        width: 100px;
        height: 100px;
    }
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    
    .game-menu {
        z-index: 1;
        background-image: url(images/backgrounds/background-game.webp);
        background-position: center;
        background-size: cover;
        
        position: absolute;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
    }
    .game-menu div {
        /* background-color: #a00; */
        height: 100vh;
        
        opacity: 100%;
    }
    .main-menu {
       
        justify-content: center;
        align-items:center;
        width: 100vw;
        height: 100vh; 
        z-index: 3;
        background-color: #222; 
        position: absolute;
    
    }
    .main-menu__button {
        color: #555;
        font-size: 64px;
        text-shadow: 2px 2px 2px #000;
        cursor: pointer;
    }
    .buttons {
        z-index: 1;
        position: absolute;
        justify-content: space-between;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        
        
    }
    .buttons img {
        width: 64px;
        z-index: 4;
        margin: 24px;
        opacity: 60%;
        position: relative;
    }
}


@media (max-width: 500px) {
    .main-menu {
        
        justify-content: center;
        align-items:center;
        width: 100vw;
        height: 100vh; 
        z-index: 3;
        background-color: #0f0; 
        position: absolute;
    
    }
    .main-menu__button {
        color: #000;
        font-size: 64px;
        text-transform: lowercase;
    }
    .game-menu {
        z-index: 1;
        background-color: #0f0;
        position: absolute;
        height: 100vh;
        width: 100vw;
        align-items: center;

    }

    
    .predict {
        font-size: 32px;
        justify-content: center;
        align-items:center;
        width: 100vw;
        height: 100vh; 
        z-index: 2;
        background-color: #aff; 
        position: absolute;
        color: #000;
    }
}

